.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-bottom: 0.5px solid #cfcfcf;
}

.navbar h4 {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
}

/* Style the modal */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Style the modal content */
  .modal-search {
    overflow-y:auto;
    background-color: #fefefe;
    margin: 1% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-height: 100%;
  }
  
  /* Style the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  /* Style the search text area and submit button */
  .searchBar {
    display: inline-block;
    width: 90%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 0%;
  }

  
@media screen and (max-width: 600px) {
    .navbar{
        width: 90%;
    }
    .navbar h4 {
        font-size: 12px;
    }
    .navbar img {
        width: 50px;
      }
      .modal-search {
        height: 90%;
      }
      input[type=text] {
        width: 80%;
      }
}
@media screen and (max-width: 400px) {
    .navbar h4 {
        font-size: 12px;
    }
}